/*
Custom css

*/

#loading-panel {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #2d2d2f;
    filter: alpha(opacity=50);
    opacity: 0.7;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    z-index:100000;
}


.panel-load {
    display: block;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 45%;
    /*top: 25%;*/
    width: 200px;
    height: 100px;
    margin: auto;
}

.label-requerido{
    color: red;
    margin-bottom: 0px;
}